---
namespace: mtulio
name: labc
description: An Lab collection to test Ansible Galaxy
version: "{{ tag }}"
readme: README.md
authors:
  - mtulio (https://mtulio.net/)
dependencies: { }
license:
  - MIT
tags:
  - lab
repository: https://github.com/mtulio/ansible-collection-labc
documentation: https://github.com/mtulio/ansible-collection-labc
# homepage: ""
issues: https://github.com/mtulio/ansible-collection-labc/issues
build_ignore:
  - scripts
  - molecule
  - .DS_Store
